@page "/"
@using GestCimV5StaticWebPage.Shared

<PageTitle>Index</PageTitle>

<h1>GestCimV5</h1>

Téléchargez l'installeur de GestCimV5

<SurveyPrompt Title="Cliquez sur le lien suivant pour télécharger le wizard GestCimV5 :" />

<h1>Installation de GestCimV5</h1>

<p>Après avoir téléchargé le wizard GestCimV5, exécutez le et suivez les instructions.</p>

<h1>Clef de Licence</h1>

<img src="images/wizard.png" alt="Wizard installation de GestCimV5" class="img-responsive">

<p>Si vous avez déjà installé GestCimV5, vous pouvez le mettre à jour en exécutant le wizard GestCimV5.</p>

<p>Si vous avez des questions, n'hésitez pas à nous contacter à l'adresse suivante : <a href="mailto:groupe-finalys@orange.fr">groupe-finalys@orange.fr</a></p>

<p>Vous pouvez également nous contacter par téléphone au 03 84 68 87 77</p>

<p>Vous pouvez également nous contacter par courrier à l'adresse suivante : 1 rue de l'industrie, 70360, Chassey-Lès-Scey'</p>